@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* banking page */
.heading{
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    font-size: 40px;
    font-weight: 500;
}
.money{
    color: blue;
}
.all-section{
    width: 80%;
    margin: auto;
}
.main{
    display: flex;
    justify-content:space-between;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 33%;
    height: auto;
    padding: 20px;
}
.box-deposit {
    background-color: #93C5FD;
}
.box-withdraw{
    background-color: #86EFAC;
}
.box-balance{
    background-color: #FDE047;
}
.box h2{
    font-size: 30px;
    font-weight: 500;
}
.box p{
    font-size: 60px;
    font-weight: 300;
}
.input-button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
}
.bx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 49%;
    height: auto;
    border-radius: 10px;
    background-color: #8de0f5b0;
}
.bx input{
    width: 60%;
    height: 45px;
    outline: none;
    border: 1px solid red;
    border-radius: 10px;
}
.bx button{
    padding: 15px 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    background: #c92f14;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;

}
.bx input::placeholder{
    font-size: 16px;
    padding: 20px;
}
.bx input{
    font-size: 18px;
    padding: 20px;
}

/* log In page */
.section-two{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.section-two .imgBox{
    position: relative;
    width: 50%;
    height: 100%;
}
.section-two .imgBox:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.section-two .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-two .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.section-two .contentBox .formBx{
    width: 50%;
}
.section-two .contentBox .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
.section-two .contentBox .formBx .inputBx{
    margin-bottom: 20px;
}
.section-two .contentBox .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}
.section-two .contentBox .formBx .inputBx input, #login-btn{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}
.section-two .contentBox .formBx .inputBx #login-btn{
    background-color: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.section-two .contentBox .formBx .inputBx #login-btn:hover{
    background: #f53677;
}
.section-two .contentBox .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
.section-two .contentBox .formBx .inputBx p{
    color: #607d8b;
    /* display: inline-block; */
}
.section-two .contentBox .formBx .inputBx p a{
    color: #ff4584;
    /* display: inline-block; */
}

@media (max-width: 768px){
    .section-two .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .section-two .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .section-two .contentBox .formBx {
        width: 100%;
        padding: 40px;
        margin: 50px;
        background: rgb(255 255 255 / 70%);
    }
}

@media (max-width: 650px){
    .heading {
        padding: 24px;
    }
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box {
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }
    .input-button{
        display: flex;
        flex-direction: column;
    }
    .bx{
        flex-direction:row;
        margin-bottom: 20px;
        width: 100%;
    }
    .bx button {
        margin-left: 10px;
    }
}
@media (max-width: 500px){
    
    .bx button {
        padding: 8px 9px;
    }
    .bx input::placeholder{
        font-size: 12px;
        padding: 5px;
    }
    .bx input {
        padding: 0;
    }
   
    .bx{
        flex-direction:row;
        margin-bottom: 20px;
        width: 100%;
    }
    .box p {
        font-size: 30px; 
        font-weight: 300;
    }


}